<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
	
	<section>
		<h1>Welcome to Products</h1>
			
			<a href="/products">Products</a>
			
			<a href="/products/add">Add Product</a>
			
			<a href="/products/update">Update Product</a>
			
			<a href="/products/delete">Delete Product</a>
			
			<a href="/products/search">Search Product</a>
	</section>
	<section>
		<h1>Products</h1>
        <table border="1">
            <thead>
            <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productDescription}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productQuantity}"></td>
            </tr>
            </tbody>
        </table>
	</section>


</body>
</html>