<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Inventory</title>
</head>
<body>
<div class="container mt-3">
  <h2>Product Inventory</h2>
  <div>
    <a href="/product/new">Add Product</a>
  </div>
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.productId}"></td>
      <td th:text="${product.productName}"></td>
      <td th:text="${product.productDescription}"></td>
      <td th:text="${product.productPrice}"></td>
      <td th:text="${product.productStock}"></td>
      <td>
        <a th:href="@{'/product/edit/' + ${product.productId}}">Update</a>
        <a th:href="@{'/product/delete/' + ${product.productId}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
